<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <label class="label-title" for="title">Titre: </label>
    <input class="input-title" id="title" type="text" formControlName="title">
    <label class="label-description" for="description">Description: </label>
    <input class="input-description" id="description" type="text" formControlName="description">
    <button class="button-submit" type="submit">Ajouter la tâche</button>

    @if (taskForm.get('title')?.errors?.['bannedWord']) {
        <p class="error-message">
            Le mot "{{ taskForm.get('title')?.errors?.['bannedWord'].word }}" est interdit dans le titre.
        </p>
    }
    @if (taskForm.get('title')?.hasError('minLength')) {
        <div>Le titre doit faire au moins 3 caractères.</div>
    }
</form>