  .Header {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    max-width: 800px;
  }

  .Header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 3em;
  }
  .Header p {
    color: #666;
    font-size: 1.2em;
  }